.breadStyle {
  text-align: right;
  padding: 10px;
}

label, input, textarea {
    display: block;
}
body {
  font-family: Raleway;
}

h2 {
  font-weight: 50;
}
.form {
    margin: 0 auto;
    width: 250px;
    padding: 200px;
}

h1 {
  font-weight: 100;
    margin: 0 auto;
}

/* html { 
  background: url(./monumentV.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.selfie {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  height: 250px;
  width: 200px;
  padding: 25px;
  border-radius: 10px;  
  }

  .Jumbotron {
    font-size: x-small;
    text-align: center;
    margin: 0 auto;
    width: auto;
    padding: 30px;
  };

  /* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

 
